<div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="rgb(30, 30, 33)" fill-opacity="1" d="M0,32L48,48C96,64,192,96,288,117.3C384,139,480,149,576,128C672,107,768,53,864,69.3C960,85,1056,171,1152,192C1248,213,1344,171,1392,149.3L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
</div>

<footer class="text-center text-lg-start text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 footer-a">
          <a href="/" class="centered-link">
            <img src="/img/icon/icon.png" alt="Logo" class="link-image" />
            <span class="link-text"><b>GUARDANT SECURITY PVT. LTD.</b></span>
          </a>
          <br /><br />
          <!-- <h6 class="text-uppercase mb-4 font-weight-bold">
            
          </h6> -->
          <p>
            Guardant Security is a leading organization specializing in security
            services, integrated facility management, manpower sourcing, & HR
            solutions.
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 footer-links">
          <h6 class="text-uppercase mb-4 font-weight-bold"><b>Useful Links</b></h6>
          <p>
            <a href="/" class="text-white">Home</a>
          </p>
          <p>
            <a href="/about" class="text-white">About Us</a>
          </p>
          <p>
            <a href="/training" class="text-white">Training</a>
          </p>
          <p>
            <a href="/gallery" class="text-white">Gallery</a>
          </p>
          <p>
            <a href="/careers" class="text-white">Careers</a>
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 footer-links">
          <h6 class="text-uppercase mb-4 font-weight-bold"><b>Services</b></h6>
          <p>
            <a href="/security-services" class="text-white">Security</a>
          </p>
          <p>
            <a href="/iFMServices" class="text-white"
              >Integrated Facility & Management</a
            >
          </p>
          <p>
            <a href="/service" class="text-white">Service Request</a>
          </p>
        </div>

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 footer-links">
          <h6 class="text-uppercase mb-4 font-weight-bold"><b>Contact</b></h6>
          <p>
            <i class="fas fa-home mr-3"></i> Plot No. 18, First Floor Back Side,
            of Dharambir Plaza, Amberhai Ext., Sector No. 19, Dwarka, Delhi
            110075
          </p>
          <!-- <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p> -->
          <p>
            <i class="fas fa-phone mr-3"></i>
            <a class="text-white" href="tel:9625785431"> 9625785431</a
            >&nbsp;,&nbsp;
            <a class="text-white" href="tel:01143008424"> 01143008424</a>
          </p>
          <p>
            <a href="/" class="text-white">Contact Us</a>
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->

    <hr class="my-3" />

    <!-- Section: Copyright -->
    <section class="p-3 pt-0">
      <div class="row d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-7 col-lg-8 text-center text-md-start">
          <!-- Copyright -->
          <div class="p-3">
            © 2024 Copyright:
            <a class="text-white" href="https://guardantsecurity.com/"
              >guardantsecurity.com</a
            >
          </div>
          <!-- Copyright -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
          <!-- Facebook -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            class="text-white social-media"
            role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <!-- Twitter -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            class="text-white social-media"
            role="button"
            ><i class="fab fa-twitter"></i
          ></a>

          <!-- Google -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            class="text-white social-media"
            role="button"
            ><i class="fab fa-google"></i
          ></a>

          <!-- Instagram -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            class="text-white social-media"
            role="button"
            ><i class="fab fa-instagram"></i
          ></a>
        </div>
        <!-- Grid column -->
      </div>
    </section>
    <!-- Section: Copyright -->
  </div>
  <!-- Grid container -->
</footer>
