<div class="footer">
  <div class="footer-a">
    <div class="footer-a-a">
      <a style="text-decoration: none; color: white" href="/"
        ><img
          src="https://images.unsplash.com/photo-1719440482702-33abac42d3b6?q=80&w=1971&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          style="height: 4rem"
        />&nbsp;&nbsp;<span><b>GUARDANT SECURITY PVT. LTD.</b></span></a
      >
      <br /><br />
      <p>
        Guardant Security is a leading organization <br />
        specializing in security services, integrated <br />
        facility management, manpower sourcing, <br />
        & HR solutions.
      </p>
    </div>
    <div class="footer-a-2">
      <h1>CONTACT</h1>
      <br />
      <h4>CORPORATE OFFICE</h4>
      <p>
        Plot No. 18, First Floor Back Side, <br />
        of Dharambir Plaza, Amberhai Ext. <br />
        Sector No. 19, Dwarka, Delhi <br />
        110075
      </p>
      <p>
        Call: +91
        <a style="color: white" href="tel:9625785431">9625785431</a
        >&nbsp;,&nbsp;<a style="color: white" href="tel:01143008424"
          >01143008424</a
        >
      </p>
      <p><a style="color: white" href="/contact">Contact sales</a></p>
    </div>
  </div>
  <div class="footer-b">©2024 Guardant Security Pvt. Ltd</div>
</div>
