<nav>
  <div></div>
  <div class="nav-center">
    <a id="brand" href="/">
      <span><b>GUARDANT SECURITY</b></span>
    </a>
  </div>
  <div class="nav-right">
    <img
      class="menu"
      style="height: 1.5rem"
      src="/img/icon/icon.png"
      alt="Brand-img"
    />
    <svg
      class="menu2"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M6 6L18 18M18 6L6 18"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
</nav>
<div class="menu-options">
  <div>
    <a href="/about">ABOUT US</a>
    <a id="services" href="/#event">SERVICES</a>
    <a href="/training">TRAINING</a>
    <a href="/gallery">GALLERY</a>
    <a href="/contact">CONTACT US</a>
    <a href="/service">SERVICE REQUEST</a>
    <a href="/careers">CAREERS</a>
  </div>
</div>
<script src="js/navbar.js"></script>
<script></script>
