<link rel="stylesheet" href="/css/navbar.css" />
<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid position-relative">
    <a class="navbar-brand me-5" href="/">
      <img
        src="/img/navbar/nlogo.jpg"
        alt="Logo"
        class="d-inline-block align-text-top"
      />
      <span class="navbar-brand-name"><b>GUARDANT SECURITY</b></span>
    </a>
    <button
      style="background-color: white"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">HOME</a>
        <a class="nav-link" href="/about">ABOUT US</a>
        <div class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            SERVICES
          </a>
          <div
            class="dropdown-menu bg-primary-subtle"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <a class="dropdown-item" href="/security-services">Security</a>
            <a class="dropdown-item" href="https://guardantsecurity.com/iFMServices#event">Event Security and Management</a>
            <a class="dropdown-item" href="https://guardantsecurity.com/iFMServices#training">Training and Development</a>
            <a class="dropdown-item" href="https://guardantsecurity.com/iFMServices#supporting">Office Supporting</a>
            <a class="dropdown-item" href="https://guardantsecurity.com/iFMServices#staffing">Office Staffing</a>
            <a class="dropdown-item" href="https://guardantsecurity.com/iFMServices#nursing">Nursing & Patient Care</a>
            <a class="dropdown-item" href="https://guardantsecurity.com/iFMServices#consultancy">Consultancy</a>
          </div>
        </div>
        <a class="nav-link" href="/training">TRAINING</a>
        <a class="nav-link" href="/gallery">GALLERY</a>
        <a class="nav-link" href="/contact">CONTACT US</a>
        <a class="nav-link" href="/service">SERVICE REQUEST</a>
        <a class="nav-link" href="/careers">CAREERS</a>
      </div>
    </div>
  </div>
</nav>
