<div class="navbar">
  <div class="brand">
    <a style="text-decoration: none; color: white" href="/">
      <img
        src="https://images.unsplash.com/photo-1719425458375-3c23993b97d8?q=80&w=1971&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="BRAND IMAGE"
      />&nbsp;&nbsp;<span><b>GUARDANT SECURITY</b></span>
    </a>
  </div>
  <div class="nav-options">
    <a href="/">HOME</a>
    <a href="/about">ABOUT US</a>
    <a href="#">SERVICES</a>
    <a href="/training">TRAINING</a>
    <a href="/gallery">GALLERY</a>
    <a href="/contact">CONTACT US</a>
    <a href="/service">SERVICE REQUEST</a>
    <a class="btn btn-danger" href="/careers">CAREERS</a>
  </div>
</div>
