<%= layout("layouts/boilerplate") %>
<div class="contact">
  <div class="overlay-container">
    <img style=" width: 100%; height: 300px; object-fit: cover; opacity: 0.6;" src="/img/main/contact_us.jpg">
    <div class="overlay"></div>
    <h1 class="overlay-name">OUR TEAM STANDS READY TO ASSIST</h1>
  </div>
  <div class="form-bg">
    <div class="contact-head">
      <div class="contact-head-a">
        <span class="mail-icon"><i class="fa-solid fa-envelope"></i></span>
        <a class="mail-icon-link" href="/service">Already a Customer?</a>
      </div>
      <div class="contact-head-b">
        <h1>Get In Touch With Us</h1><br>
        <p>
          Fill out the form below, and we’ll connect you with our sales team to
          discuss how we can improve your <br> security
          needs and answer any questions you may have. </p>
        </p>
        <p>
          You can also call us directly at : <br>
          <a href="tel:9625785431">+91 9625785431</a>,
          <a href="tel:01143008424">011 4300 8424</a>
        </p>
      </div>
    </div>
    <div class="contact-form ">
      <h2>GET IN TOUCH</h2>
      <br />
      <form action="https://api.web3forms.com/submit" method="POST">
        <input
          type="hidden"
          name="access_key"
          value="d73a8ff7-d154-4575-a008-d41668faa15c"
        />

        <label for="fname">FIRST NAME *</label>
        <input
          id="fname"
          name="First Name"
          class="form-text form-control form-control-sm"
          required
        />
        <br />

        <label for="lname">LAST NAME</label>
        <input
          id="lname"
          name="Last Name"
          class="form-text form-control form-control-sm"
        /><br />

        <label for="email">EMAIL *</label>
        <input
          id="email"
          name="Email"
          type="email"
          class="form-text form-control form-control-sm"
          required
        /><br />

        <label for="phone">PHONE *</label>
        <input
          id="phone"
          name="Phone"
          class="form-text form-control form-control-sm"
          required
        /><br />

        <label for="cname">COMPANY / ORGANIZATION NAME *</label>
        <input
          id="cname"
          name="Company / Organization Name"
          class="form-text form-control form-control-sm"
          required
        /><br />

        <label for="city">CITY / STATE *</label>
        <input
          id="city"
          name="City / State"
          class="form-text form-control form-control-sm"
          required
        /><br />

        <label for="industry">INDUSTRY</label><br />
        <select
          id="industry"
          name="Industry"
          style="width: 100%; margin-top: 0.5rem"
        >
          <option>Commercial Real Estate</option>
          <option>Residential</option>
          <option>Mixed Use Facilities</option>
          <option>Government &amp; Civic</option>
          <option>Industrial &amp; Manufacturing</option>
          <option>Distribution &amp; Logistics</option>
          <option>Education</option>
          <option>Healthcare</option>
          <option>Financial</option>
          <option>Other</option></select
        ><br /><br />

        <label for="message" class="form-label">YOUR MESSAGE *</label><br />
        <textarea
          name="Message"
          id="message"
          required
          rows="10"
          class="textarea"
          style="width: 100%"
        ></textarea
        ><br /><br />
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
