<%= layout("layouts/boilerplate") %>
<div>
  <div class="overlay-container">
    <img
      style="width: 100%; height: 300px; object-fit: cover; opacity: 0.6"
      src="https://images.unsplash.com/photo-1526289034009-0240ddb68ce3?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    />
    <div class="overlay"></div>
    <h1 class="overlay-name">GALLERY</h1>
  </div>

  <div class="cards-container">

    <div>
      <img src="/img/dignitaries/1.jpg" class="card-img" />
    </div>

    <div>
      <img src="/img/dignitaries/4.jpg" class="card-img" />
    </div>

    <div>
      <img src="/img/dignitaries/6.jpg" class="card-img" />
    </div>

    <div>
      <img src="/img/dignitaries/7.jpg" class="card-img" />
    </div>

    <div>
      <img src="/img/dignitaries/9.jpg" class="card-img" />
    </div>

    <div>
      <img src="/img/dignitaries/10.jpg" class="card-img" />
    </div>

    <div>
      <img src="/img/dignitaries/13.jpg" class="card-img" />
    </div>

    <div>
      <img src="/img/dignitaries/15.jpg" class="card-img" />
    </div>

    <div>
      <img src="/img/dignitaries/16.jpg" class="card-img" />
    </div>

    <div>
      <img src="/img/dignitaries/17.jpg" class="card-img" />
    </div>

    <div>
      <img src="/img/dignitaries/18.jpg" class="card-img" />
    </div>

    <div>
      <img src="/img/dignitaries/19.jpg" class="card-img" />
    </div>

    <div>
      <img src="/img/dignitaries/20.jpg" class="card-img" />
    </div>

    <div>
      <img src="/img/dignitaries/21.jpg" class="card-img" />
    </div>

    <div>
      <img src="/img/dignitaries/22.jpg" class="card-img" />
    </div>

    <div>
      <img src="/img/dignitaries/23.jpg" class="card-img" />
    </div>

    <div>
      <img src="/img/dignitaries/24.jpg" class="card-img" />
    </div>

    <div>
      <img src="/img/dignitaries/25.jpg" class="card-img" />
    </div>

    <div>
      <img src="/img/dignitaries/26.jpg" class="card-img" />
    </div>

    <div>
      <img src="/img/dignitaries/27.jpg" class="card-img" />
    </div>
  </div>
</div>
