<%= layout("layouts/boilerplate") %>
<div class="home">
  <!-- <div>
    <img
      src="https://images.unsplash.com/photo-1423768164017-3f27c066407f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="MAKE YOUR SECURITY SYSTEM HIGH REAL"
      style="height: 85vh; width: 100%"
    />
  </div> -->
  <div class="overlay-container">
    <img style=" width: 100%; height: 85vh; object-fit: cover; opacity: 1;" src="https://images.unsplash.com/photo-1423768164017-3f27c066407f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
    <div style="height: 85vh;" class="overlay"></div>
    <h1 class="overlay-name">Ensuring Safety <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Enhancing Lives</h1>
  </div>
  <div class="services">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">SECURITY SERVICES AND INTEGRATED FACILITY MANAGEMENT SERVICES</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://th.bing.com/th/id/OIG1.aFbtqYY1bHzVFoRsuqXI?w=1024&h=1024&rs=1&pid=ImgDetMain" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MANAGEMENT SERVICES</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MANPOWER RECRUITMENT SERVICES</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
  </div>
    
    <p>
      Guardant Security Pvt. Ltd., based in Dwarka, Delhi, is a premier provider
      of integrated security and facility management solutions.we have
      established ourselves as a leading organization specializing in Security
      Services, Integrated Facility Management, Manpower Sourcing, and HR
      Solutions across India. Our commitment to excellence is highlighted by our
      ISO 9001:2015 certification, reflecting our dedication to delivering
      high-quality services that meet industry standards. Recognized as one of
      the top-rated service partners in the National Capital Region.
    </p>
    <h4>
      <b
        >"Security is an essential aspect of modern life, ensuring peace of mind
        and safety in various environments. At Guardant Security Pvt. Ltd., our
        mission is to provide top-tier security solutions tailored to meet the
        unique needs of our clients"</b
      >
    </h4>
    <button class="btn btn-danger">READ MORE</button>
  </div>
</div>