<%= layout("layouts/boilerplate") %>
<div class="home">
  <div>
    <img
      src="https://images.unsplash.com/photo-1423768164017-3f27c066407f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="MAKE YOUR SECURITY SYSTEM HIGH REAL"
      style="height: 85vh; width: 100%"
    />
  </div>
  <div class="contact-head-b">
    <div>
      <span class="title-tag">WELCOME TO</span>
      <h2 style="color: #11133b;">GUARDANT SECURITY</h2>
    </div>
    <hr />
    <div>
      <h2>OUR OFFERED FEATURES</h2>
      <br>
      <div>
        <div>
          <div></div>
          <div></div>
        </div>
        <div></div>
        <div></div>
      </div>
    </div>
    <p>
      Guardant Security Pvt. Ltd., based in Dwarka, Delhi, is a premier provider
      of integrated security and facility management solutions.we have
      established ourselves as a leading organization specializing in Security
      Services, Integrated Facility Management, Manpower Sourcing, and HR
      Solutions across India. Our commitment to excellence is highlighted by our
      ISO 9001:2015 certification, reflecting our dedication to delivering
      high-quality services that meet industry standards. Recognized as one of
      the top-rated service partners in the National Capital Region.
    </p>
    <h4>
      <b
        >"Security is an essential aspect of modern life, ensuring peace of mind
        and safety in various environments. At Guardant Security Pvt. Ltd., our
        mission is to provide top-tier security solutions tailored to meet the
        unique needs of our clients"</b
      >
    </h4>
    <button class="btn btn-danger">READ MORE</button>
  </div>
</div>