<%= layout("layouts/boilerplate") %>
<div>
  <div class="overlay-container">
    <img
      style="width: 100%; height: 300px; object-fit: cover; opacity: 0.6"
      src="https://integraltronics.com/wp-content/uploads/2020/03/security-camera-installation-1.jpeg"
    />
    <div class="overlay" ></div>
    <h1 class="overlay-name">NEED HELP?</h1>
  </div>

  <div class="form-bg">
    <div class="contact-head">
      <div class="contact-head-b">
        <h1>How Can We Help?</h1>
        <p>
          If you would like us to contact you in regards to a service request,
          please complete the form below.
        </p>
      </div>
    </div>
    <div class="contact-form mb-3">
      <form action="https://api.web3forms.com/submit" method="POST">
        <input
          type="hidden"
          name="access_key"
          value="5f9de885-f5e2-4521-9b13-fdee2ee38f13"
        />

        <label for="address">NAME OF BUILDING / ADDRESS*</label>
        <input
          id="address"
          name="Address"
          class="form-control form-control-sm"
          required
        /><br />

        <label for="fname">FIRST NAME *</label>
        <input
          id="fname"
          name="First Name"
          class="form-control form-control-sm"
          required
        /><br />

        <label for="lname">LAST NAME</label>
        <input
          id="lname"
          name="Last Name"
          class="form-text form-control form-control-sm"
        /><br />

        <label for="email">EMAIL *</label>
        <input
          id="email"
          type="email"
          name="Email"
          class="form-text form-control form-control-sm"
          required
        /><br />

        <label for="phone">PHONE *</label>
        <input
          id="phone"
          name="Phone"
          class="form-text form-control form-control-sm"
          required
        /><br />

        <label for="system">SYSTEM</label><br />
        <select
          id="system"
          name="System"
          style="width: 100%; margin-top: 0.5rem"
        >
          <option>Please Select</option>
          <option>Access Control</option>
          <option>Cameras</option>
          <option>Alarms</option>
          <option>Other</option></select
        ><br /><br />

        <label for="problem" class="form-label">DESCRIPTION OF PROBLEM*</label
        ><br />
        <textarea
          name="Problem"
          id="problem"
          required
          rows="10"
          style="width: 100%"
          class="textarea"
        ></textarea>
        <br /><br />
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
