/* NAVBAR */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  position: fixed;
  top: 0;
  z-index: 9999999999;
  transition: background-color 0.3s ease;
}
#brand {
  color: white;
  text-decoration: none;
  z-index: 99999999999999;
}
.nav-right {
  color: white;
  font-size: 25px;
}
nav.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  color: white;
}

/* MENU FULL PAGE */
.menu-options {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0; 
  transform: translateY(-100%);
  z-index: 99999999;
}
.menu-options div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  line-height: 100px;
  letter-spacing: -1px;
}
.menu-options div a {
  color: white;
  text-decoration: none;
  font-size: 100px;
  font-weight: 500;
}
.menu-options div a:after {
  content: "";
  position: relative;
  bottom: 10px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #b9a42f;
  border-radius: 5px;
  display: block;
  transition: width 0.5s ease;
}
.menu-options div a:hover:after {
  width: 100%;
}
.menu-options div a:hover {
  color: #b9a42f;
}
.menu-options.visible {
  opacity: 1;
  transform: translateY(0);
}
.menu,
.menu2 {
  cursor: pointer;
}
@media (max-width: 600px) {
  .menu-options div a {
    font-size: 50px;
   font-weight: 700;
    line-height: 45px;
  }
  .menu-options div a:after {
    display: none;
  }
}
