* {
  font-family: "Montserrat", sans-serif;
}

/* NAVBAR */

.btn:hover {
  color: black;
  background-color: white;
  border-color: #d6ad61;
}

.navbar {
  background-color: rgb(17, 19, 59) !important;
  height: 8rem;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  z-index: 100;
}

.brand{
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand a img {
  height: 6rem;
}

.nav-options a {
  text-decoration: none;
  color: white;
  margin-right: 1rem;
  font-weight: 600;
  font-style: normal;
}

/* FOOTER */

.footer-a {
  background-color: #161a63;
  display: flex;
  justify-content: space-evenly;
  color: white;
  padding-top: 2rem;
}

.footer-b {
  background-color: #11133b;
  color: white;
  display: flex;
  justify-content: center;
}

/* BODY */

/* HOME-PAGE */

/* CONTACT US */

.overlay-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.overlay {
  width: 100%;
  height: 300px;
  z-index: 98;
  background-color: #11133b;
  opacity: 0.75;
  position: absolute;
  top: 0rem;
}

.overlay-name {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.contact-head {
  background-color: #f3f3f3;
}

.contact-head-a {
  background-color: #e7e7ed;
  height: 4.75rem;
  display: flex;
}

.mail-icon {
  background-color: #d7a537;
  height: 4.75rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 0 10rem;
}

.mail-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.contact-head-b {
  margin-left: 15rem;
  margin-right: 15rem;
  padding: 4rem 0 4rem 0;
  font-weight: 450;
  font-size: large;
}

.contact-head-b h1 {
  color: #11133b;
  font-family: sans-serif;
}

.contact-head-b h3 {
  color: #11133b;
  font-family: sans-serif;
}

.form-bg {
  background-color: #f0f0f0;
}

.contact-form {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 25%;
  margin-right: 20%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 2rem 2rem 2rem 2rem;
  font-weight: 600;
  background-color: white;
}

.contact-form h2 {
  display: flex;
  justify-content: center;
  font-weight: 700;
}

/* SERVICE */

.form-control {
  height: 3rem;
  background-color: #f0f0f9;
  opacity: 0.5;
  border-radius: none;
}

.textarea {
  background-color: #f0f0f9;
  opacity: 0.5;
  border: none;
}

/* GALLERY */

.cards-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: start;
  padding: 1rem;
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.card {
  margin-bottom: 20px;
}

.card-img {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
  /* border-radius: 14px; */
  border: solid 5px #f6e389;
  box-shadow: 5px 10px 10px black;
  transition: box-shadow 0.4s ease;
  
}

.card-img:hover{
  box-shadow: 10px 20px 20px black;
}

/* SERVICES HOME */
.services{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  margin: 1rem;
}

.card:hover{
  background-color: #FAB700;
}