* {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: bold;
}

h5 {
  text-align: center;
  color: #11133b;
}

p {
  text-align: justify;
  word-spacing: normal;
  letter-spacing: normal;
  line-height: 1.6;
  overflow-wrap: break-word;
}

@media (max-width: 768px) {
  p {
    word-spacing: 0.1em;
  }
}

@media (max-width: 480px) {
  p {
    word-spacing: 0.05em;
  }
}

li {
  text-align: justify;
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 600px) {
  h1 {
    text-align: center;
  }
}

/* IFM */
.ifmCards {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5rem 2rem 5rem 2rem;
}

.ifmCards div {
  margin-top: 2rem;
}

.ifmCards div h2{
  color: #11133b;
}

.ifmCards div img {
  width: 700px;
  margin: 1rem 0;
}

@media (max-width: 600px) {
  .ifmCards div img {
    width: 100%;
  }
}

/* FOOTER */
.footer-brand{
  width: 350px;
}

/* BODY */

/* HOME-PAGE */

.overlay-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.overlay {
  width: 100%;
  height: 300px;
  z-index: 98;
  background-color: #11133b;
  opacity: 0.75;
  position: absolute;
  top: 0rem;
}

.overlay-name {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.contact-head {
  background-color: #f3f3f3;
}

.contact-head-a {
  background-color: #e7e7ed;
  height: 4.75rem;
  display: flex;
}

.mail-icon {
  background-color: #d7a537;
  height: 4.75rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 0 10rem;
}

@media (max-width: 600px) {
  .mail-icon {
    margin: 0 1rem 0 1rem;
  }
}

.mail-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.contact-head-b {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
  font-weight: 450;
  font-size: large;
}

@media (max-width: 600px) {
  .contact-head-b {
    padding: 2rem;
  }
}

.contact-head-b h1 {
  color: #11133b;
  font-family: sans-serif;
}

.contact-head-b h3 {
  color: #11133b;
  font-family: sans-serif;
}

/* CONTACT US */

.form-bg {
  background-color: #f0f0f0;
}

.contact-form {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 25%;
  margin-right: 20%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 2rem 2rem 2rem 2rem;
  font-weight: 600;
  background-color: white;
}

@media (max-width: 600px) {
  .contact-form {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.contact-form h2 {
  display: flex;
  justify-content: center;
  font-weight: 700;
}

/* SERVICE */

.form-control {
  height: 3rem;
  background-color: #f0f0f9;
  opacity: 0.5;
  border-radius: none;
}

.textarea {
  background-color: #f0f0f9;
  opacity: 0.5;
  border: none;
}

/* GALLERY */

.cards-container {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: auto;
  padding: 1rem;
  background-color: #f9f9ff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 5rem 0 5rem 0;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slides div {
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.card-img {
  width: 50%;
  height: auto;
  object-fit: cover;
  border: solid 5px #11133b;
  box-shadow: 5px 10px 10px black;
}

@media (max-width: 600px) {
  .card-img {
    width: 100%;
    height: auto;
  }
}

.button-container {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.button-container button {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

@media (max-width: 600px) {
  .cards-container {
    padding: 0;
  }
  .slides {
    animation: slide 30s infinite;
  }
}

/* SERVICES HOME */
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
}

@media (max-width: 600px) {
  .services {
    flex-direction: column;
  }
}

.card {
  margin: 1rem;
  height: 270px;
  padding: 1rem;
  border: none;
  border-radius: 14px;
}

.card:hover {
  box-shadow: -10px 10px 15px rgb(75, 74, 74);
  transition: box-shadow 0.5s;
}

/* SECURITY SERVICES */

.security-services {
  display: flex;
  padding: 3rem 10rem 3rem 10rem;
}
@media (max-width: 600px) {
  .security-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .security-services-img-name {
    font-size: medium;
  }
}

.security-services div {
  margin: 0 1rem 3rem 1rem;
  width: 25rem;
}

@media (max-width: 600px) {
  .security-services div {
    margin: 0 3rem 2rem 3rem;
    padding: 2rem;
  }
}

.security-services div img {
  width: 25rem;
}

@media (max-width: 600px) {
  .security-services div img {
    width: 21rem;
  }
}

/* ------------------------------------ */
