<%= layout("layouts/boilerplate.ejs") %>
<div class="overlay-container">
            <img style="width: 100%; height: 300px; object-fit: cover; opacity: 0.6"
                src="/img/securityServices/services.jpg" />
            <div class="overlay">

            </div>

            <h1 class="overlay-name">MAN POWER SERVICES</h1>
        </div>
<marquee style="color: red; font-weight: bold;" behavior="scroll" direction="right">Page Under Maintenance</marquee>
