<%= layout("layouts/boilerplate") %>
    <div>
        <div class="overlay-container">
            <img style="width: 100%; height: 300px; object-fit: cover; opacity: 0.6"
                src="https://images.unsplash.com/photo-1599350686877-382a54114d2f?q=80&w=1854&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            <div class="overlay">

        </div>
            <h1 class="overlay-name">Protecting What Matters Most <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Premier Security Services at Your Doorstep</h1>
        </div>

        <div>
            <div class="contact-head-b" >
                <h1><b>SECURITY SERVICES</b></h1><br><br>
                <p>
                    Guardant Security Private Limited has always been dedicated to
                    understanding and addressing the evolving security needs of the industry
                    since our inception. Today, we offer comprehensive security guard
                    services to a diverse range of business units and maintain ongoing
                    security service contracts with numerous leading business
                    establishments. Our proactive and adaptable approach ensures we
                    consistently deliver exceptional performance, enhancing the safety and
                    security of our clients' premises.
                </p>
            </div>

            <di class="security-services">
                <div>
                    <img src="img/securityServices/2.jpg" alt="" /><br><br>
                    <h5><b>Premier Industrial Security Solutions</b></h5>
                    <p>
                        Equipped with cutting-edge technology and the latest tools, Guardant
                        Security Private Limited is prepared to handle any security
                        responsibilities required in industrial premises. Our industrial
                        security guards are vigilant, confident, and capable of managing all
                        types of situations with composure and professionalism. Trained at our
                        dedicated institutes, they undergo rigorous professional training to
                        ensure they are always ready for any emergency. With their expertise
                        and readiness, our security guards are well-prepared to manage and
                        mitigate any crisis, ensuring the utmost safety and security of
                        industrial environments.
                    </p>
                </div>

                <div>
                    <img src="img/securityServices/5.jpg" alt="" /><br><br>
                    <h5><b>Superior Commercial Security Guards</b></h5>
                    <p>
                        In addition to our industrial clients, Guardant Security Private
                        Limited offers top-tier security guards and services to corporate
                        customers. Our guards are meticulously trained and highly observant,
                        ensuring efficient management of visitor flow at any business
                        establishment's entrance. We regularly conduct mock drills to prepare
                        them for handling unforeseen situations with confidence and precision.
                        If you need a reliable company that provides exceptional security
                        support to safeguard your corporate premises, you can trust us to
                        deliver with unwavering assurance.
                    </p>
                </div>

                <div>
                    <img src="img/securityServices/9.jpg" alt="" /><br><br>
                    <h5><b>Superior Commercial Security Guards</b></h5>
                    <p>
                        At Guardant Security Private Limited, we have a team of highly
                        experienced guards dedicated to managing the security services of
                        commercial units and stores. Our deployed guards are not only polite
                        and well-behaved but also committed to upholding the highest security
                        standards. With a focus on maintaining both safety and reputation,
                        Guardant Security Private Limited is your trusted partner in ensuring
                        the protection and integrity of any commercial establishment.
                    </p>
                </div>
        </div>
    </div>
    </div>